
{% extends 'base.html' %}


<section id="category" >

{% block content %}
  <div class="row">
    {% if category %}
      <ul>
        <div class="col-md-4">
          <p><em><a href="#" class="btn btn-default">All</a><em></p>
        </div>
      {% for category in category %}
        <div class="col-md-2">
          <p><em><a href="#" class="btn btn-default">{{category.description}}</a><em></p>
        </div>
      {% endfor %}
      </ul>
    {% endif %}
  </div>

</section>


<section id="portfolio" >






<div class="row">
  {% if latest_jobs %}
    {% for job in latest_jobs %}
    <div class="col-md-4">
      <a href="#modal_1" class="portfolio-link" data-toggle="modal">



      <div class="panel panel-default">
        <div class="panel-heading">



          {% if job.image %}
          <img src="/media/{{job.image}}" class="img-responsive" alt="">
          {% endif %}
        </div>
        <div class="panel-body">
          <a href="/portfolio/{{job.url}}"</a>
          <h5><p><em>{{job.title}}<em></p></h5>
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>

</section>

<section id="modal_1" >


<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</section>

{% endblock %}
